@font-face {
  font-family: "icomoon";
  src: url("../icon/fonts/icomoon.eot?u3unsv");
  src: url("../icon/fonts/icomoon.eot?u3unsv#iefix") format("embedded-opentype"),
    url("../icon/fonts/icomoon.ttf?u3unsv") format("truetype"),
    url("../icon/fonts/icomoon.woff?u3unsv") format("woff"),
    url("../icon/fonts/icomoon.svg?u3unsv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked .path1:before {
  content: "\e903";
  color: rgb(60, 185, 93);
}
.icon-checked .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cross:before {
  content: "\e905";
  color: #2d3a5a;
}
.icon-edit:before {
  content: "\e907";
  color: #2d3a5a;
}
.icon-error .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
  opacity: 0.01;
}
.icon-error .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(232, 78, 45);
}
.icon-info-2 .path1:before {
  content: "\e90a";
  color: rgb(57, 135, 224);
}
.icon-info-2 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new:before {
  content: "\e90d";
  color: #2d3a5a;
}
.icon-play:before {
  content: "\e90e";
  color: #2d3a5a;
}
.icon-stop:before {
  content: "\e90f";
  color: #fff;
}
.icon-warning .path1:before {
  content: "\e910";
  color: rgb(255, 255, 255);
  opacity: 0.01;
}
.icon-warning .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(224, 177, 64);
}
