.alert {
  position: absolute;
  bottom: -50%;
  right: 0;
  margin: 20px;
  width: 400px;
  padding: 11px 30px 11px 15px;
  border-radius: 10px;
  display: flex;
  z-index: 100;
  transition: all 0.5s ease-in-out;

  // top: 100%;
  // left: 100%;

  // &.icon-checked,
  // &.icon-error,
  // &.icon-warning {
  //   bottom: 0;
  // }

  &.isOpen {
    bottom: 0;
  }

  &.icon-warning {
    background: linear-gradient(0deg, #f5f2e8, #f5f2e8), rgba(224, 177, 64, 0.1);
  }

  &.icon-error {
    background: linear-gradient(0deg, #f6e8e6, #f6e8e6), rgba(232, 78, 45, 0.1);
  }

  &.icon-checked {
    background: linear-gradient(0deg, #e5f2eb, #e5f2eb), rgba(60, 185, 93, 0.1);
  }

  &_icon {
    margin-top: 3px;
    font-size: 22px;
  }

  &_content {
    font-family: "Gilroy" !important;
    margin-left: 15px;
    &-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    &-text {
      font-size: 16px;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 11px;
  }
}
