.alert {
  padding: 11px 30px 11px 15px;

  .ant-notification-notice-content {
    font-family: "Gilroy" !important;

    .ant-notification-notice-message {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .ant-notification-notice-description {
      font-size: 16px;
    }
  }

  .ant-notification-notice-close {
    top: 7px;
    left: 100%;
    margin-left: -33px;
  }

  &.icon-warning {
    background: linear-gradient(0deg, #f5f2e8, #f5f2e8), rgba(224, 177, 64, 0.1);
  }

  &.icon-error {
    background: linear-gradient(0deg, #f6e8e6, #f6e8e6), rgba(232, 78, 45, 0.1);
  }

  &.icon-checked {
    background: linear-gradient(0deg, #e5f2eb, #e5f2eb), rgba(60, 185, 93, 0.1);
  }
}
